/* Header Section Style */
h1{
    font-family: 'Berkshire Swash', cursive;
}

#position{
    position: relative;
    left: -100%;
}

.logo{
    width: 12%;
}


/* player cards shadow */
.shade{
    box-shadow: 5px 5px 40px rgb(17, 17, 17);
}




/* Player Cards Button Hover effect */
.effect:hover{

    box-shadow:5px 5px 20px blue ;
}



/* Budget Section Style */
.total-budget{
        color: orangered;
}